body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
	color: #FFFFFF; background-color: #FFFFFF; font-style: normal; font-weight: normal; list-style-type: disc; }

<!-- 

h1 {  font-family: Arial, Helvetica, sans-serif; font-size: 36px; color: #660000} 

-->
input[type=text]{ 
    border:1px solid #6F8BAA;
    color:#000033;
    font-family:Tahoma,Geneva,sans-serif;
    font-size:12px;
}

input[type=password], textarea { 
    border:1px solid #6F8BAA;
    color:#000033;
} 
.letra_principal{
	font-family: "lucida sans unicode","lucida grande",sans-serif;
	font-size: 14px;
	font-weight: bold;
	font-variant: small-caps;
	letter-spacing: 2.2pt;
	line-height: 1.8;
	color:#FFFFFF;
	
}

td.titular{
	font-family: "lucida sans unicode","lucida grande",sans-serif;
	font-size: 45px;
	font-weight: bold;
	font-variant: small-caps;
	letter-spacing: 2.2pt;
	line-height: 1.8;
	color:#3B094E;
	text-decoration: underline;
	
}

.letra_secundaria{
	font-family: "lucida sans unicode","lucida grande",sans-serif;
	font-size: 10px;
	font-variant: small-caps;
	letter-spacing: 2.2pt;
	line-height: 1.8;
	color:#FFFFFF;
	
}
td.letra_secundariaWeb{
	font-family: "lucida sans unicode","lucida grande",sans-serif;
	font-size: 20px;
	font-variant: small-caps;
	letter-spacing: 2.2pt;
	line-height: 1.8;
	color:#3B094E;
	
}
/* división de la página */
#top{
 padding-bottom:10px;
 
}

#content {
/* float: left;*/
 width: 500px;
 height: 100%;
 color:#111111
}


#leftnav {
 float: left;
 width: 150px;
 height: 100%;
 border-right: 1px solid gray;

 }
 
#arribaDcha {
 margin-right: 200px;
}


#arribaIzq {
 float: left;
 padding: 1em;
}

#abajo{
 padding-left:10px;
 margin-right: 200px;
 margin-left: 200px;
 
}