<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FomentoSoftwareLibre</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FrontController</display-name>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>servlets.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>/FrontController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TratarEncuesta</display-name>
    <servlet-name>TratarEncuesta</servlet-name>
    <servlet-class>servlets.TratarEncuesta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TratarEncuesta</servlet-name>
    <url-pattern>/TratarEncuesta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logear</display-name>
    <servlet-name>Logear</servlet-name>
    <servlet-class>servlets.Logear</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logear</servlet-name>
    <url-pattern>/Logear</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NuevoUsuario</display-name>
    <servlet-name>NuevoUsuario</servlet-name>
    <servlet-class>servlets.NuevoUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NuevoUsuario</servlet-name>
    <url-pattern>/NuevoUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>nuevoPerfil</display-name>
    <servlet-name>nuevoPerfil</servlet-name>
    <servlet-class>servlets.nuevoPerfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>nuevoPerfil</servlet-name>
    <url-pattern>/nuevoPerfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Enfrentamiento</display-name>
    <servlet-name>Enfrentamiento</servlet-name>
    <servlet-class>servlets.Enfrentamiento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Enfrentamiento</servlet-name>
    <url-pattern>/Enfrentamiento</url-pattern>
  </servlet-mapping>
</web-app>